<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-md-6" id="left-pane">
            <h1 id="tagline">Create Click-Worthy Links</h1>
            <p>Create custom link with Lnkiy and make it easily shareable and more valuable</p>
                <input type="url" id="input" class="form-control" placeholder="https://www.example.com">
            <button class="btn btn-success" style="background: #24ba89;" id="shrt">Get Started</button>
            <p id="warn-display">Shortening URLs without login means you lose the option to track and manage. <a href="/register">Register Now</a>&nbsp;<span id="warn-close">X</span></p>
        </div>
        <div class="col-md-6">
            <img src="images/main.jpg" alt="" class="float right img-thumbnail" width="60%" height="auto">
        </div>
    </div>
  </div>