<section id="section">
    <div>
        <h4>Benefits of custom URL</h4>
        <p>Custom url shortener is a powerful Shortening tool. It not just short the URL but it's a medium between your user and their destination.</p>
      </div><br>
      <div class="container">
         
        <div class="row">
            <div class="col-md-4">
              <div class="card mb-3" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="images/increase2.png" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Business Growth
                        </h5>
                        <p class="card-text">It helps to get the trust of the user and hence bounce rate decreases.</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-3" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="images/dollar2.png"class="card-img" alt="..." style="margin-top:12px">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Need of Custom Url
                        </h5>
                        <p class="card-text">Custom URL receive up to 39% more click-through than generic short links</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-3" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="images/idea2.png" class="card-img" width="20%" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Business Services
                        </h5>
                        <p class="card-text">It can be used in business e-mails, messages, ads, or for any marketing purpose.</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
  </section>