<section id="subscribe">
    <div>
        <p><img src="images/subscribe.png" alt=""></p>
        <h3>Stay Updated!</h3>
        <p>Subscribe to our newsletter by just providing your email id and we will notify you whenever new things go live.
        </p>
        <input type="email" class="form-control"  placeholder="Enter your email"> <a href="#" class="btn btn-success" style="background: #24ba89;">Subscribe</a>
    </div>
  </section>